.imgCard {
  /* width: 360px;
  height: 200px;
  object-fit: cover; */
  width: 280px;
  height: 192px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  cursor: pointer;
}

.imgCardStats {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-top: none;
  justify-content: space-between;
}
